.topbar {
  position: fixed;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  background: black;
  top: 0;
  padding: 5px 15px;
  height: 45px;
}

.topbar__upload {
  float: right;
}

.main-view {
  margin-top: 50px;s
}

.file-upload {
  color: #fff;
}

.card {
  border: 1px solid #d0d0d0;
  padding: 7px;  
  margin-bottom: 15px;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */


}

.card__img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 5px;
}

.card__text {
  font-size: 0.8rem;
}

.site-footer {
  min-eight: 100px;
}