<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="topbar">

        <div ng-controller="TopbarController" class="topbar__upload">
            <div class="row collapse">
                <div class="medium-8 columns">
                    <input type="file" file-model="myFile" accept="image/*" class="file-upload" />
                </div>
                <div class="medium-4 columns">
                    <button class="button small" ng-click="uploadFile()">Upload!</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-view class="main-view"></div>
    <footer class="site-footer">
      <div class="row">
        <div class="large-12 columns">
            <div class="text-center">Nixplay app: v<span app-version></span></div>
        </div>

      </div>

    </footer>
    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="components/photos/photosController.js"></script>
    <script src="components/photodetails/photoDetailsController.js"></script>
    <script src="services/services.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="components/topbar/topbarController.js"></script>
</body>

</html>
