<div class="row small-up-2 medium-up-3 large-up-4">

  <div class="columns" ng-repeat="photo in photos" ng-show="photos.length">
		<div class="card">
			<a href="#!/photos/{{photo.id}}">
				<img ng-src="{{photo.path}}" class="card__img" />
			</a>
		</div>
  </div>
</div>

<div class="row" ng-show="!photos.length">
	<div class="large-12 columns">
		<div class="callout"><p>No photos uploaded</p></div>	
	</div>
</div>
