<div class="row">
 	<div class="small-12 columns">
		<h3>Photo Details</h3>
		<h4>{{photo.name}}</h4>
		<div>Width: {{photo.height}}px </div>
		<div>Height: {{photo.width}}px</div>		

 	</div>

</div>
